<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>check</servlet-name>
        <servlet-class>check</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sign_up</servlet-name>
        <servlet-class>action.sign_up</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DatabaseConnection</servlet-name>
        <servlet-class>DbPack.DatabaseConnection</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TrippleDes</servlet-name>
        <servlet-class>DbPack.TrippleDes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sign_up0</servlet-name>
        <servlet-class>action.sign_up0</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sign_in</servlet-name>
        <servlet-class>action.sign_in</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>twitts</servlet-name>
        <servlet-class>action.twitts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IndexWrapper</servlet-name>
        <servlet-class>action.IndexWrapper</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mail_Send0</servlet-name>
        <servlet-class>action.mail_Send0</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>check</servlet-name>
        <url-pattern>/check</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sign_up</servlet-name>
        <url-pattern>/sign_up</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DatabaseConnection</servlet-name>
        <url-pattern>/DatabaseConnection</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TrippleDes</servlet-name>
        <url-pattern>/TrippleDes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sign_up0</servlet-name>
        <url-pattern>/sign_up0</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sign_in</servlet-name>
        <url-pattern>/sign_in</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>twitts</servlet-name>
        <url-pattern>/twitts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IndexWrapper</servlet-name>
        <url-pattern>/IndexWrapper</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mail_Send0</servlet-name>
        <url-pattern>/mail_Send0</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
